.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1596205521983-9c372fb3d4f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bWFrZXVwfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');

}

.loginTitle{
    font-size: 50px;
    color: white;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label{
    margin: 10px 0px;
    color: white;
}
.loginInput{
padding: 10px;   
background-color: white;
border: none;  
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 7px;
}